.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
.idea/misc.xml
.DS_Store
*.json
*.log
src/test/java/api/appmanager/ApplicationManagerApi.java
src/test/java/api/appmanager/HttpSession.java
src/test/java/api/CreateNewUserOfCompanyTests.java
src/test/java/api/tests/LoginTests.java
src/test/java/api/tests/TestBaseApi.java
src/test/java/api/ClientAuthTests.java
src/test/java/api/tests/LoginTests.java
src/test/java/api/tests/TestBaseApi.java
